body{
    width: 750px;
}

#musicWord{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 750px;
}

#music{
    position: relative;
    left: 700px;
}

#gameVideo{
    height: 350px;
    left: 10%;
}

#show{
    position: absolute;
}

#difficulty{
    position: relative;
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    left:33%;
}

#gameVideoDiv{
    position: relative;
    left: 30%;
}

#panel{
position: relative;
left: 1050px;
top: -100px;
width: 200px;
}

#con{
font-size: 60px;
color:rgba(0, 85, 255, 0.521);
font-family:cursive;
font-weight: bold;
width: 400px;
}

#level{
    font-size: 60px;
    color: rgba(255, 68, 0, 0.928);
    font-family: cursive;
    font-style: italic;
    width: 300px;
}

#check{
    height: 20px;
    width: 25px;
    background-color: rgba(0, 38, 255, 0.647);
    position: absolute;
    left:75%;
}

#boor{
    height: 20px;
    width: 20px;
    background-color: rgba(247, 7, 7, 0.647);
    position: absolute;
    border-radius: 20px;
}

#time{
height: 20px;
width: 300px;
position: relative;
top:400px;
left:70%;
border: 2px solid;
background-color:antiquewhite;
border-radius: 35px;
border-color: rgb(0, 0, 0);
}

#game{
height: 84px;
width: 900px;
border: 2px solid;
border-color: rgba(0, 0, 0, 0.504);
border-radius: 50px;
background-color:rgb(255, 244, 232);
position: relative;
top:420px;
left:55%;
}

.span
{
    position: relative;
    font-size: 55px;
    font-family: cursive;
    font-weight: bold;
    top:10px;
}

/* .arrows{
    text-align: center;
    font-size: 40px;
    font-weight:bolder;
    height: 45px;
    width: 45px;
    color:white;
    background-color:rgb(85, 85, 85);
    border-radius:45px;
    position: absolute;
    top: 7.5px;
    display: inline;
} */

.td{
    /* border: 5px  ; */
    /* background-color:rgb(255, 244, 232); */
    /* border-radius: 60px;
    height: 60px;
    width:67px; */
    position: relative;
    top: -10px;
    font-size: 70px;
    display: table-cell;
    text-align: center;
    font-weight:900;
    color:rgba(0, 0, 0, 0.739);
}

.active{
    /* border: 5px ; */
    /* background-color:rgb(255, 244, 232); */
    /* border-radius: 50px;
    height: 60px;
    width:67px; */
    position: relative;
    top: -10px;
    font-size: 70px;
    text-align: center;
    font-weight:bolder;
    color:rgb(95, 209, 87);
}